.master-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    box-sizing: border-box;
}

.header-bar {
    height: auto;
    width: 100%;
    margin-bottom: 0.625rem;
    overflow-x: hidden;
}
.navLogo-container{
    margin-right: 10rem
}

.nav-list {
    /* background: 
    box-shadow: 0px 0px 10px; */
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
    
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
    width: fit-content;
    text-align: center;
}

.nav-item a {
    height: fit-content;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 38rem;
    width: 100rem;
    margin-bottom: 0.625rem;
    overflow-x: hidden;
}