.header-container {
    background-color: blueviolet;
    width: 119rem;
    height: 10rem;
}
.main-container {
    background-color: aquamarine;
    width: 100rem;
    height: 37rem;
}
.footer-container {
    background-color: aqua;
    width: 119rem;
    height: 10rem;
}